<div id="newsitem">
  <p>
  <span>
      <% if current_user && current_user == item.user %>
        <div class="noowsedButton">
          Noows
      <% else %>
        <div class="noowsButton">
        <%= link_to 'Noows?', vote_up_news_item_url(item) %>
      <% end %>
    </div>
    <div id="iteminfo">
      <div class="itemlink">
        <a href="<%= item.link %>"><%= item.title %></a>
      </div>
      <div class="underItemTitle">
        published at <%= item.published_at %> on <a href="<%= item.source.homepage_url %>"><%= item.source.name %></a>
      </div>
    </div>
  </span>
  </p>
  </br>
</div>

