<!DOCTYPE html>
<html>
  <%= render :partial => 'layouts/html_header' %>
  <body>
    <%= render :partial => 'layouts/header' %>
    <div id="content">
	    <%= render :partial => 'layouts/menu'%>
	    <%= render :partial => 'layouts/flashes'%>
      <%= yield %>
    </div>
    <%= render :partial => 'layouts/footer'%>
  </body>
</html>

